body {
  background: rgb(228, 241, 241);
  color:rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw!important;
  max-height: 100vh!important;
  text-emphasis-color: white;
}

.nav-icon {
  width: 50px;
}


.edit-btn {
  background-color: rgb(255, 251, 0);
  color: #000;
}

.delete-btn {
  background-color: #f72828;
  color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message-div {
  border: 2px solid rgb(238, 199, 26);
  background-color: #c4a029;
  padding: 30px;
}
.table{
  border: 2px solid rgb(238, 199, 26);
  padding: 30px
}
.submenu{
  position: absolute;
  background: #c4a029;
}
.card {
  text-align: center;
  padding: 20px;
  margin: 70px;
}